body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #004688;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 20px;
}

.account, .product {
    background-color: #f4f4f4;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.balance, .product p {
    font-weight: bold;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.product img {
    width: 100%; /* Adjust as needed */
    max-width: 300px; /* Adjust as needed */
    display: block;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Добавим стили для модального окна с данными о счетах */
#accountModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#accountModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

/* Стили для кнопки закрытия */
#accountModal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#accountModal .close:hover,
#accountModal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

